@import "variables.scss";
@import "mixins.scss";

body{
    background-color: $background;
    color: $text;
    font-family: 'Roboto', sans-serif;
}

.logo{
    font-size: 40px;
    display: flex;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-around;
}

nav{
    display: flex;
    align-items: center;
}


ul{
    list-style: none;
}

ul li{
    display: inline;
}

li{
    margin-left: 100px;
}

.container1, .container2, .container3, .container4, .container5{
    display: flex;
}

p{
    line-height: 40px;
    color: $text;
    opacity: 0.33;
}

section{
    margin-top: 200px;
    padding-left: 200px;
    width: 655px;
}

.showcase, .folks, .transparent{
    font-size: 40px;
    margin-top: 20px;
}

.button1{
    display: flex;
    align-items: center;
}

.degrad{
    @include tailleboutton;
    color: $text;
    background-image: linear-gradient(to right, $degblue, $degrose);
    border-radius: 15px;
    text-align: center;
    padding-top: 20px;
}

.white{
    @include tailleboutton;
    color: $text;
    text-align: center;
    border-radius: 15px;
    border: 1px $text solid;
    margin-left: 50px;
    padding-top: 20px;
}

.vert{
    @include tailleboutton;
    color: $green;
    text-align: center;
    border-radius: 15px;
    padding-top: 20px;
    background-color: $backgroundvert;
}


.card{
    background-color: $backcard;
    height: 400px;
    width: 400px;
    margin-top: 30px;
    margin-right: 50px;
    padding: 20px;
}

.pot{
    background-color: $backicon;
    padding: 10px;
    margin-top: 20px;

}

.custo{
    font-size: 22px;
}

.carre{
    display: flex;
    justify-content: flex-end;
}

.mockup{
    width: 100%;
}

.transparent{
    text-align: center;
}

.pcentre{
    text-align: center;
}

.container5, section{
    justify-content: center;
    padding-left: -200px;
}

.triangle1{
    position: absolute;
    right: 900px;
}

.cercle{
    position: absolute;
    left: 1550px;
}

.triangle3{
    position: absolute;
    left: 200px;
}

.monthly{
    width: 200px;
    height: 40px;
    color: $text;
    text-align: center;
    border-radius: 15px;
    border: 1px $text solid;
    margin-left: 225px;
    padding-top: 20px;
}